<h2>ChatLocal</h2>
  <h4><%=  currentUser.firstname %>, in <a href="/chat/history/<%=currentUser.zipcode%>"><%=  currentUser.zipcode %></a> chat!</h4>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD80T0Aor1mRyBzNVkpEnlYzUy7oqzsLkM&callback=geoFindImg"></script>
  <link rel="stylesheet" href="/css/prof.css">
  <div id="out"></div>
  <div class="message-box">
    <ul id="messages"></ul>
  </div>
  <div class="active-users">
  </div>
  <form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
  <script>
  $(function () {
    var socket = io();
    socket.emit('create', '<%= currentUser.zipcode %>');
    $('form').submit(function(){
      var message = {
        id: <%= currentUser.id %>,
        zip: <%= currentUser.zipcode %>,
        text: $('#m').val()
      };
      socket.emit('package', message);
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text('<%= currentUser.username %>' + ':  ' + msg));
    });
  });
  </script>
